
RewriteOptions inherit
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# SP BEGIN php handler
<IfModule mod_fcgid.c>
          AddHandler fcgid-script .php .php5 .php7 .phtml
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .php
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .php5
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .php7
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .phtml
</IfModule>
# SP END php handler
