*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
    .container {
        padding: 5px;
        background-color: beige;
        header{
            img{
                width: 100%;
            }
            nav{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                border-radius: 5px;       
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                background-color: orange;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    width: 90%;
                    li{
                        background-color: transparent;
                    }
                }
            }

        }
        main{
            table.dishes{
                width: 300px;
            }
            th.dishes{
                vertical-align: top;
            }
            padding: 40px;
                section{
                    display: flex;

                    .square{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: green;
                        margin: 10px;
                        border: 1px solid rgb(75, 69, 69);
                        border-radius: 5px;
                        padding: 5px;
                        width: 50px;
                        height: 50px;
                        
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        ul{ 
                            li{
                                list-style-type: none;
                            }
                        }                        
                    }
                }
        }
        

        footer{   

            background-color: red;
            width: 100%;
            height: 30px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                
            }
        }
    }
}