{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Tavolo</th>
                <th>Amount</th>
                <th>Piatto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            
        {% for order in orders %}
            <tr>
                <td>{{ order.ntable }}</td>
                
                <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_order_new',{'id': 0}) }}">Create new</a>
{% endblock %}
